---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/state.tf" }}

Current supported `content_type` are:

| content type  | description                                                                                      |
| ------------- | ------------------------------------------------------------------------------------------------ |
| azure_cloud   | Contains Azure cloud resource IDs                                                                |
| aws_cloud     | Contains AWS cloud resource IDs                                                                  |
| gcp_cloud     | Contains GCP cloud resource IDs                                                                  |
| container     | Contains container IDs                                                                           |
| hostname      | Contains hostnames, not the FQDN, so only the first part (before `.`) will be used for matching. |
| user_identity | Contains user identities; f.e. username and/or e-mail                                            |
| ipv4          | IPv4 address or CIDR i.e. `10.1.2.0/24`                                                          |
| ipv6          | IPv6 address or CIDR i.e. `2a02:fe9:692:2812/64`                                                 |