---
page_title: Provider: {{ .ProviderShortName | upper }}
subcategory: ""
description: |-
  Terraform provider for interacting with AUXO.
---

# AUXO Provider

This provider is build to interact with the [ON2IT AUXO Zero Trust Platform](https://on2it.net/managed-security/#section-auxo).

When upgrading to version 1.0.1, the following changes might break your configuration.

- Environment variable AUXOTOKEN is now AUXO_TOKEN
- Measures have now their own resource `auxo_measure`

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

Provide your AUXO token either with setting an environment variable `AUXO_TOKEN` (recommended) or by setting it in the provider configuration (not recommended).
For US tenants, use `us.api.on2it.net` as the API address, `url` attribute in the provider configuration.

```shell
export AUXO_TOKEN=<YOURAUXOTOKEN>
```

### Example with token

{{ tffile "examples/provider/provider_token.tf" }}

### Example with config name

{{ tffile "examples/provider/provider_config.tf" }}

By default it will look for the configuration in `~/.ztctl/config.json`, which has the following format. This location can be overridden by setting the `config` attribute.

The `name` configuration attribute will take precedence over the `token` and `url` attributes.

```json
{
	"configs": [
		{
			"alias": "tenant1",
			"description": "This is the token for tenant 1",
			"token": "VerySecureTokenTenant1",
			"apiaddress": "api.on2it.dev",
			"debug": false
		},
		{
			"alias": "tenant2",
			"description": "This is the token for tenant 2",
			"token": "VerySecureTokenTenant2",
			"apiaddress": "us.api.on2it.net",
			"debug": false
		}
    ]
}
```

{{ .SchemaMarkdown | trimspace }}